.First-page {
    text-align: center;
}

.Entry{
  margin-right: auto;
  margin-left: auto;
  min-width: 1800px;
  height: 635px;
  padding-top: 20px;
  background: no-repeat top center fixed url(me.png);
}

.Entry h1{
  color: #f7f7f7;
}

.Entry p{
  color: #f7f7f7;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Work-history {
  margin-right: auto;
  margin-left: auto;
  min-width: 1800px;
  height: 635px;
}

.Work-history h1{
  color: black;
}

.Work-history p{
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

