.myButton {
	display:inline-block;
	cursor:pointer;
	color:snow;
	font-size:2.5vh;
	font-weight:bold;
	padding:13px 63px;
	text-decoration:none;
}
.myButton:hover {
	color: antiquewhite;
}
.myButton:active {
	position:relative;
	top:1px;
}

.ButtonText {
    padding-top: 4vh;
    margin: 4vh;
    text-align: center;
    color: snow;
}
