
.grid-container {
  align-items: center;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 25px;
  gap: 0px 0px;
  grid-template-areas:
    "ability score";
}
.ability { grid-area: ability; }
.score { grid-area: score; }
/*.container {*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/
