.Work {
    width: 100%;
}

.Work img {
    width: 15vh;
}

.company_logo {
    border-radius: 25%;
    margin-bottom: 1.7vh;
    padding-right: 1.4vh;
    margin-right: 1.7vh;
}

#work-detail {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    text-align: left;
}

@media (max-width: 629px) {
    div#company-logo {
        display: none;
        padding-right: 1.4vh;
    }

    div#work-detail {
        max-width: 100% !important;
        flex: 0 0 75%;
        text-align: left;
    }

}
